<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" layout:decorate="~{layouts/admin}">
<head>
<title th:text="#{user.add}"></title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</th:block>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Sửa thông tin người dùng</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Thông tin người dùng</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- jquery validation -->
						<form autocomplete="off" action="#"
							th:action="@{/administrator/user/edit/{id}(id=${user.id})}"
							th:object="${user}" method="post"
							class="form-horizontal" role="form">
							<div class="card card-default">
								<div class="card-header">
									<h3 class="card-title">Sửa thông tin người dùng</h3>
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-info">
											<i class="fas fa-save"></i> Save
										</button>
										<a th:href="@{/administrator/user/list}" class="btn btn-success"><i
											class="fas fa-angle-left"></i> Back</a>
									</div>
								</div>
								<!-- /.card-header -->
								<!-- form start -->

								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="firstName" th:text="#{user.add.first_name}"></label>
												<input type="text" th:field="*{firstName}" th:attr="placeholder=#{user.add.first_name}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="lastName" th:text="#{user.add.last_name}"></label>
												<input type="text" th:field="*{lastName}" th:attr="placeholder=#{user.add.last_name}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="email" th:text="#{user.add.email}"></label>
												<input type="text" th:field="*{email}" th:attr="placeholder=#{user.add.email}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="userName" th:text="#{user.add.username}"></label>
												<input type="text" th:field="*{userName}" disabled="disabled" th:attr="placeholder=#{user.add.username}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="password" th:text="#{user.add.password}"></label>
												<input type="password" th:field="*{password}" th:attr="placeholder=#{user.add.password}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="phoneNumber" th:text="#{user.add.phone}"></label>
												<input type="text" th:field="*{phoneNumber}" th:attr="placeholder=#{user.add.phone}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
													id="code-error" class="error error-field"></span>
											</div>
											
											
											
										</div>
									</div>

								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-info">
											<i class="fas fa-save"></i> Save
										</button>
										<a th:href="@{/administrator/user/list}"
											class="btn btn-success"><i class="fas fa-angle-left"></i>
											Back</a>
									</div>
								</div>

							</div>
							<!-- /.card -->
						</form>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
		</div>
	<!-- /.content-wrapper -->
</body>
<th:block layout:fragment="scripts">
	<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
	<script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</th:block>
</html>
