<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/frontend}">
<head>
<title>Trang cá nhân</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" th:href="@{/frontend/css/style.css}">
</th:block>
</head>
<body>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container" layout:fragment="content">
				<div class="row">
					<div class="col-md-12">
						<!-- jquery validation -->
						<div class="card card-default">
							<div class="card-header">
								<h3 class="card-title">Trang cá nhân</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2 user-block">
												<img class="img-circle img-bordered-sm"
													th:src="@{/images/user.png}" alt="user image" style="width: 60px; height: 60px">
											</div>
											<div class="col-md-9">
												<div class="col-md-12">
													<span th:text="${user.userName}" style="font-size: 18px;font-weight: 600;"></span>
												</div>
												<div class="row">
													<div class="col-md-10">
													<br>
													<a class="btn btn-primary" th:href="@{/profile/me/edit/{id}(id=${user.id})}">
													Chỉnh sửa trang cá nhân</a>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="col-md-6" th:each="user: ${user}">
										<ul style="list-style: none">
											<li>
												<h4>Thông tin cá nhân</h4>
											</li>
											<li>Số điện thoại liên lạc: <span th:text="${user.phoneNumber}"
											style="font-style: italic;font-weight: bold"></span></li>
											<li>Email: <span th:text="${user.email}" style="font-style: italic;font-weight: bold"></span> </li>

										</ul>

									</div>
								</div>
							</div>
						</div>
						<!-- /.card -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- jquery validation -->
						<div class="card card-default">
							<div class="card-header">
								<h3 class="card-title">Tin đã đăng</h3>
								<ul th:if="${paged.pageData.totalPages > 1}"
									class="pagination m-0 float-right">
									<li th:each="page : ${paged.getPages()}"
										th:class="${#strings.equals(filter.pageNum, #strings.toString(page.key))}? 'page-item active' : 'page-item'">
										<a
										th:href="@{/profile/me(pageSize=${filter.pageSize}, pageNum=${page.key}, search=${filter.search})}"
										th:text=${page.key} th:class="page-link"> </a>
									</li>
								</ul>
							</div>
							<div class="card-body">
								<div class="row" th:each="room: ${paged.pageData.content}">
									<div class="col-md-2 box room-item-wrapper">
										<a th:href="@{/room/{slug}.html(slug=${!#strings.isEmpty(room.slug) ? room.slug : room.id})}">
											<img th:if="${room.images.size > 0}"
											class="room-image room-image-grid"
											th:src="${room.images[0].url}" /> <img
											th:if="${room.images.size <= 0}"
											class="room-image room-image-grid"
											th:src="@{/images/home.jpg}" />
											</div>
										</a>
									<div class="col-md-8">								
											<div class="room-title" th:text="${room.title}"style="font-style: italic;font-weight: bold"></div> 
											
											<span
											class="room-area"> <span th:text="${room.area}"><span>-</span></span>
												m<sup>2</sup> <span
												th:text="${room.numOfBedrooms + ' Phòng'}"></span>
											</span> 
											<span class="room-price" th:text="${#numbers.formatCurrency(room.price)}"></span><br/>
											<i class="fas fa-map-marker-alt"></i>
											<span class="room-provine" th:text="${room.province}">
											</span><br />
											<i class="far fa-clock"></i> <span class="room-date"
											th:text="${#dates.format(room.createdDate, 'dd-MM-yyyy HH:mm')}">
											</span>
									</div>
									<div class="col-md-2">
										<a  th:if="${room.deleted == null || !room.deleted}"
											class="btn btn-danger float-right"
											th:href="@{/profile/me/restore/{roomId}(roomId=${room.id})}">Xóa</a> 
										<a th:if="${room.deleted != null && room.deleted}"
											class="btn btn-success float-right"
											th:href="@{/profile/me/delete/{roomId}(roomId=${room.id})}">Đăng lại tin</a>
									</div>
								</div>
							</div>
							<div class="card-footer paging-center clearfix">
								<a th:href="@{/search}" class="more-rooms">Xem thêm</a>
							</div>
						</div>
						<!-- /.card -->
					</div>
				</div>
			</div>
			<th:block layout:fragment="scripts">
			</script>
		<!-- Ion Slider -->
		<script th:src="@{/plugins/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>
		<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
		<script
			th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>
			</th:block>
</body>
</html>
