<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/frontend}">
<head>
<title>Dang tin</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet"
		th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
	<link rel="stylesheet"
		th:href="@{/plugins/select2/css/select2.min.css}">
	<link rel="stylesheet"
		th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/frontend/css/style.css}">
</th:block>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- jquery validation -->

				<div class="card card-default">
					<form th:action="@{/dang-tin}" method="post" th:object="${motelRoomDto}" enctype="multipart/form-data">
						<div class="card-header ">
							<label class="card-title">Nhập thông tin phòng trọ</label>
										<a th:href="@{/administrator/dang-tin}" class="btn btn-success float-right"><i
											class="fas fa-angle-left"></i> Back</a>
							<button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i>Đăng tin</button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<label for="category">Danh mục</label> <select
											class="form-control select2" th:field="*{category}">
											<option value="">Chọn danh mục</option>
											<option th:each="category: ${categorys}"
												th:value="${category.getCode()}"
												th:text="${category.getName()}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="province">Tỉnh/thành phố </label> <select
											class="form-control select2" id="province">
											<option value="">Chọn Tỉnh/thành phố</option>
											<option th:each="province: ${provinces}"
												th:value="${province.code}"
												th:text="${province.nameWithType}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="district">Quận/huyện</label> <select
											class="form-control select2" id="district">
											<option value="">Chọn quận/huyện</option>
										</select>
									</div>
									<div class="form-group">
										<label for="ward">Phường/xã</label> <select
											class="form-control select2" th:field="*{ward}">
											<option value="">Chọn Phường/xã</option>
										</select>
									</div>
									<div class="form-group">
										<label for="address">Địa chỉ</label> <input
											class="form-control" type="text" th:field="*{address}"
											placeholder="Nhập địa chỉ" /> <span
											th:if="${#fields.hasErrors('address')}"
											th:errors="*{address}" id="address-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="price">Giá (VNĐ)</label> <input
											class="form-control" type="number" th:field="*{price}"
											placeholder="Nhập giá" /> <span
											th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
											id="price-error" class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="depositAmount">Số tiền cọc (VNĐ)</label> <input
											class="form-control" type="text" th:field="*{depositAmount}"
											placeholder="Nhập tiền cọc" /> <span
											th:if="${#fields.hasErrors('depositAmount')}"
											th:errors="*{depositAmount}" id="depositAmount-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="area">Diện tích(m<sup>2</sup>)
										</label> <input class="form-control" type="text" th:field="*{area}"
											placeholder="Nhập diện tích" /> <span
											th:if="${#fields.hasErrors('area')}" th:errors="*{area}"
											id="area-error" class="error error-field"></span>
									</div>
								</div>
								<div class="col-md-2"></div>
								<div class="col-md-5">
									<div class="form-group">
										<label for="numOfBedrooms">Số phòng ngủ</label> <input
											class="form-control" type="text" th:field="*{numOfBedrooms}"
											placeholder="Nhập số phòng" /> <span
											th:if="${#fields.hasErrors('numOfBedrooms')}"
											th:errors="*{numOfBedrooms}" id="numOfBedrooms-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="numOfToilets">Số Toilets</label> <input
											class="form-control" type="text" th:field="*{numOfToilets}"
											placeholder="Nhập số phòng" /> <span
											th:if="${#fields.hasErrors('numOfToilets')}"
											th:errors="*{numOfToilets}" id="numOfToilets-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="doorDirection">Hướng cửa chính</label> <select
											class="form-control select2" th:field="*{doorDirection}">
											<option value="">Chọn hướng cửa chính</option>
											<option th:each="direction: ${directions}"
												th:value="${direction.getCode()}"
												th:text="${direction.getName()}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="balconyDirection">Hướng ban công</label> <select
											class="form-control select2" th:field="*{balconyDirection}">
											<option value="">Chọn hướng ban công</option>
											<option th:each="direction: ${directions}"
												th:value="${direction.getCode()}"
												th:text="${direction.getName()}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="utilities">Tiện ích</label> <input
											class="form-control" type="text" th:field="*{utilities}"
											placeholder="Nhập tiện ích" /> <span
											th:if="${#fields.hasErrors('utilities')}"
											th:errors="*{utilities}" id="utilities-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="images">Hình ảnh</label> <input type="file"
											multiple="multiple" th:field="*{files}" />
									</div>
									<div class="form-group">
										<label for="phoneNumber">Số điện thoại liên hệ</label> <input
											class="form-control" type="text" th:field="*{phoneNumber}"
											placeholder="Nhập số điện thoại" /> <span
											th:if="${#fields.hasErrors('phoneNumber')}"
											th:errors="*{phoneNumber}" id="phoneNumber-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="title">Tiêu đề</label> <input class="form-control"
											type="text" th:field="*{title}" placeholder="Nhâp tiêu đề" />
										<span th:if="${#fields.hasErrors('title')}"
											th:errors="*{title}" id="title-error"
											class="error error-field"></span>
									</div>
									<div class="form-group">
										<label for="description">Mô tả</label> <input
											class="form-control" type="text" th:field="*{description}"
											placeholder="Nhập mô tả" /> <span
											th:if="${#fields.hasErrors('description')}"
											th:errors="*{description}" id="title-error"
											class="error error-field"></span>
									</div>
								</div>
							</div>
							
							
						</div>
						
						<!-- /.card-body -->
								<div class="card-footer">
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Đăng tin</button>
										<a th:href="@{/administrator/dang-tin}" class="btn btn-success"><i
											class="fas fa-angle-left"></i> Back</a>
									</div>
								</div>
					</form>

				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>
</body>
<th:block layout:fragment="scripts">
	<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
	<script
		th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</th:block>
</html>
