<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/frontend}">
<head>
<title>Dang tin</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- jquery validation -->
				<div class="card card-success">
					<div class="card-header">
						<h3 class="card-title">Dang tin</h3>
					</div>
				
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/js/room/main.js}"></script>
	</th:block>
</body>
</html>
