<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" layout:decorate="~{layouts/admin}">
<head>
<title th:text="#{pos.list}"></title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="#{pos.list}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active" th:text="#{pos.list}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row" th:if="${message != null}">
					<div class="col-md-12">
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i> <span
									th:text="#{global.success_delete}"></span>
							</h5>
							<span th:text="${message}"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title" th:text="#{pos.list}"></h3>
								<div class="btn-group float-right">
									<a th:href="@{/administrator/pos/create}" class="btn btn-info"><i
										class="fas fa-plus"></i>
										<span  th:text="#{pos.add}"></span>
									</a>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
							<div class="row" th:if="${posPage.content.size > 0}">
									<div class="col-md-12 filter">
										<form th:action="@{/administrator/pos/list}"
											th:object="${posFilter}" method="get">
											<div class="input-group">
												<input type="search" th:value="*{search}"
													th:field="*{search}" class="form-control form-control-lg"
													placeholder="Tìm kiếm theo mã, tên máy, ngân hàng, cửa hàng, ...">
												<div class="input-group-append">
													<button type="submit" class="btn btn-lg btn-default">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th th:text="#{pos.code}"></th>
											<th th:text="#{pos.name}"></th>
											<th th:text="#{pos.bank}"></th>
											<th th:text="#{pos.store}"></th>
											<th th:text="#{pos.active}"></th>
											<th th:text="#{global.action}"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="pos: ${posPage.content}">
											<td th:text="${pos.code}"></td>
											<td th:text="${pos.name}"></td>
											<td th:text="${pos.bank.name}"></td>
											<td th:if="${pos.store != null}" th:text="${pos.store.name}">
											</td>
											<td th:if="${pos.store == null}"><span
												class="badge bg-warning"  th:text="#{pos.unassigned}"></span></td>
											<td th:if="${!pos.active}">
												<span class="badge bg-warning"  th:text="#{global.locked}"></span>
											</td>
											<td th:if="${pos.active}">
												<span class="badge bg-success" th:text="#{global.activated}"></span>
											</td>

											<td>
												<a
												th:href="@{/administrator/pos/edit/{code}(code=${pos.code})}"
												class="btn btn-primary">
													<i class="far fa-edit"></i>
													<span th:text="#{global.edit}"></span>
												 </a>
												 <a onclick="return confirm('Xác nhận xóa?');"
													th:href="@{'/administrator/pos/delete/' + ${pos.code}}"
													class="btn btn-danger"> <i class="fas fa-trash"></i> <span
														th:text="#{global.delete}"></span>
												</a>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer clearfix">
								<ul th:if="${posPage.totalPages > 1}"
									class="pagination m-0 float-right">
									<li th:each="pageNumber : ${pageNumbers}"
										th:class="${pageNumber==posPage.number + 1} ? 'page-item active' : 'page-item'">
										<a
										th:href="@{/administrator/pos/list(pageSize=${posPage.size}, pageNum=${pageNumber})}"
										th:text=${pageNumber} th:class="page-link"></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>
