<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" layout:decorate="~{layouts/admin}">
<head>
<title th:text="#{store.add}"></title>
<th:block layout:fragment="styles">
	<link rel="stylesheet"
		th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
	<link rel="stylesheet"
		th:href="@{/plugins/select2/css/select2.min.css}">
	<link rel="stylesheet"
		th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</th:block>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="#{store.add}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/administrator/store/list}" th:text="#{store.list}"></a></li>
							<li class="breadcrumb-item active" th:text="#{store.add}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- jquery validation -->
						<form autocomplete="off" th:action="@{/administrator/store/create}" th:object="${storeRequest}"
							method="post" class="form-horizontal" role="form">
							<div class="card card-default">
								<div class="card-header">
									<h3 class="card-title" th:text="#{store.add}"></h3>
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-info">
											<i class="fas fa-save"></i> <span th:text="#{global.save}"></span>
										</button>
										<a th:href="@{/administrator/store/list}" class="btn btn-success"><i
											class="fas fa-angle-left"></i> <span th:text="#{store.list}"></span> </a>
									<a th:href="@{/administrator/pos/create}" class="btn btn-primary"><i
											class="far fa-plus-square"></i> <span th:text="#{pos.add}"></a>
									</div>
								</div>
								<!-- /.card-header -->
								<!-- form start -->

								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="code" th:text="#{store.code}"></label>
												<input type="text" th:field="*{code}" th:attr="placeholder=#{store.code}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="name" th:text="#{store.name}"></label>
												<input type="text" th:field="*{name}" th:attr="placeholder=#{store.name}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="email" th:text="#{store.email}"></label>
												<input type="text" th:field="*{email}" th:attr="placeholder=#{store.email}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="phoneNumber" th:text="#{store.phone}"></label>
												<input type="text" th:field="*{phoneNumber}" th:attr="placeholder=#{store.phone}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="address" th:text="#{store.address}"></label>
												<input type="text" th:field="*{address}" th:attr="placeholder=#{store.address}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
													id="code-error" class="error error-field"></span>
											</div>
											
											<div class="form-group">
												<label for="poses" th:text="#{store.poses}"></label>
												<div class="select2-purple">
													<select multiple="multiple"
														th:field="*{poses}" class="select2"
														data-placeholder="Máy POS"
														data-dropdown-css-class="select2-purple"
														style="width: 100%;"
														>
															
														<th:block th:each="pos: ${poses}">
															<option th:value="${pos.id}" th:text="${pos.name}"></option>
														</th:block>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="manager" th:text="#{store.manager}"></label>
												<select
													th:field="*{manager}" class="select2"
													style="width: 100%;"
													>
													<option value="" th:text="#{store.select_manager}"></option>
													<th:block th:each="user: ${users}">
														<option th:value="${user.id}" th:text="${user.lastName + ' ' + user.firstName + ' - ' + user.userName}"></option>
													</th:block>
												</select>
											</div>
											
											<div class="form-group">
												<input type="checkbox" id="active" class="form-check-input" th:field="*{active}" th:checked="${storeRequest.active}" data-bootstrap-switch />
												<label for="active" class="form-check-label" th:text="#{global.active}"></label>
											</div>
											
										</div>
									</div>

								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-info">
											<i class="fas fa-save"></i> <span th:text="#{global.save}"></span>
										</button>
										<a th:href="@{/administrator/store/list}" class="btn btn-success"><i
											class="fas fa-angle-left"></i> <span th:text="#{store.list}"></span> </a>
											<a th:href="@{/administrator/pos/create}" class="btn btn-primary"><i
											class="far fa-plus-square"></i> <span th:text="#{pos.add}"></a>
									</div>
								</div>

							</div>
							<!-- /.card -->
						</form>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
<th:block layout:fragment="scripts">
	<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
	<script
		th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</th:block>
</html>
