.error-field {
	width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.filter {
	margin-bottom: 20px;
}

.blank-list {
	display: block;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.blank-list img {
	width:100px;
	height: 100px;
}

.select2-container .select2-selection--single {
	height: 38px !important;
}

.store-display {
	font-weight: bold;
	font-size: 15px;
	color: green;
}

.display-name {
	font-size: 15px;
	color: orange;
}
