<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" layout:decorate="~{layouts/admin}">
<head>
<title th:text="#{customer.add}"></title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="#{customer.add}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#"
									th:text="#{global.home}"></a>
							</li>
							<li class="breadcrumb-item active" th:text="#{customer.add}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- jquery validation -->
						<form autocomplete="off" action="#"
							th:action="@{/administrator/customer/create}"
							th:object="${customerAddRequest}" method="post"
							class="form-horizontal" role="form">
							<div class="card card-default">
								<div class="card-header">
									<h3 class="card-title" th:text="#{customer.add}"></h3>
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-info">
											<i th:text="#{global.save}" class="fas fa-save"></i>
										</button>
										<a th:href="@{/administrator/customer/list}"
											class="btn btn-success">
											<i th:text="#{global.back}"
												class="fas fa-angle-left">
											</i>
										</a>
									</div>
								</div>
								<!-- /.card-header -->
								<!-- form start -->

								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="name" th:text="#{customer.name}"></label>
												<input type="text" th:field="*{name}" th:placeholder="#{customer.name}"
													class="form-control" /> 
												<span
												th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
												id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="dob" th:text="#{customer.dob}"></label>
												<input type="date" th:field="*{dob}"
													class="form-control" /> 
												<span
													th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="idCard" th:text="#{customer.id_card}"></label>
												<input type="text" th:field="*{idCard}" th:placeholder="#{customer.id_card}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="address" th:text="#{customer.address}"></label>
												<input type="text" th:field="*{address}" th:placeholder="#{customer.address}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="email" th:text="#{customer.email}"></label>
												<input type="text" th:field="*{email}" th:placeholder="#{customer.email}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="phoneNumber" th:text="#{customer.phone_number}"></label>
												<input type="text" th:field="*{phoneNumber}" th:placeholder="#{customer.phone_number}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="facebookLink" th:text="#{customer.link_facebook}"></label>
												<input type="text" th:field="*{facebookLink}" th:placeholder="#{customer.link_facebook}"
													class="form-control" /> 
													<span
													th:if="${#fields.hasErrors('facebookLink')}" th:errors="*{facebookLink}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label for="description" th:text="#{customer.description}"></label>
												<textarea class="form-control" th:field="*{description}"
												 	th:placeholder="#{customer.description}"></textarea>
												<span
													th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
													id="code-error" class="error error-field"></span>
											</div>
										</div>
									</div>

								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<div class="btn-group float-right">
										<button type="submit" class="btn btn-info">
											<i th:text="#{global.save}" class="fas fa-save"></i>
										</button>
										<a th:href="@{/administrator/customer/list}" class="btn btn-success">
											<i class="fas fa-angle-left"
												th:text="#{global.back}">
											</i>
										</a>
									</div>
								</div>

							</div>
							<!-- /.card -->
						</form>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>
