<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" layout:decorate="~{layouts/admin}">
<head>
<title th:text="#{customer.list}"></title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="#{customer.list}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active"
							 th:text="#{customer.list}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title"
								 th:text="#{customer.list}"></h3>
								<div class="btn-group float-right">
									<a th:href="@{/administrator/customer/create}" class="btn btn-info"><i class="fas fa-plus"></i> Add</a>
									<a href="#" class="btn btn-success"><i class="fas fa-edit"></i> Edit</a>
									<a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
								</div>
						
							</div>
							<!-- /.card-header -->
							<div class="card-body">
							
								<div class="row">
									<!-- <div class="col-md-12 filter">
										<form th:action="@{/administrator/customer/list}"
											th:object="${customerListRequest}">
											<div class="input-group">
											    <input type="search"
											    th:value="*{idCard}"
											    th:field="*{idCard}"
											     class="form-control form-control-lg"
											     th:placeholder="#{customer.search_by}">
											    <div class="input-group-append">
											        <button type="submit" class="btn btn-lg btn-default">
											            <i class="fa fa-search"></i>
											        </button>
											    </div>
											</div>
										</form>
									</div> -->
									<div class="col-md-12 filter">
										<form th:action="@{/administrator/customer/list}"
											th:object="${customerListRequest}">
											<div class="input-group">
												<input type="search" th:value="*{search}"
													th:field="*{search}" class="form-control form-control-lg"
													th:placeholder="#{customer.search_by}">
												<div class="input-group-append">
													<button type="submit" class="btn btn-lg btn-default">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>

								<table class="table table-bordered">
									<thead>
										<tr>
											<th th:text="#{customer.name}"></th>
											<th th:text="#{customer.id_card}"></th>
											<th th:text="#{customer.email}"></th>
											<th th:text="#{customer.phone_number}"></th>
											<th style="width: 180px">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="customer: ${customers}">
											<td th:text="${customer.name}">
											</td>
											<td th:text="${customer.idCard}">
											</td>
											<td th:text="${customer.email}">
											</td>
											<td th:text="${customer.phoneNumber}">
											</td>
											<td><a
													th:href="@{/administrator/customer/edit/{id}(id=${customer.id})}"
												    class="btn btn-primary"><i
													class="far fa-edit"></i> Edit</a>
											<a
													th:href="@{/administrator/card/list/{id}(id=${customer.id})}"
												    class="btn btn-primary"><i
													class="far fa-edit"></i>Card</a>	
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer clearfix">
								<ul th:if="${pagedCustomer.totalPages > 1}"
									class="pagination m-0 float-right">
									<li th:each="pageNumber : ${pageNumbers}"
										th:class="${pageNumber==pagedCustomer.number + 1} ? 'page-item active' : 'page-item'">
										<a
										th:href="@{/administrator/customer/list(pageSize=${pagedCustomer.size}, pageNum=${pageNumber})}"
										th:text=${pageNumber} th:class="page-link"></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>
