<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/frontend}">
<head>
<title>Dang tin</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" th:href="@{/frontend/css/style.css}">
</th:block>
</head>	

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">MotelRoom.com <i>SEARCH ROOMS WANTS TO BE SIMPLE 

          </i> Là một trong những trang web tìm kiếm phòng trọ hàng đầu Việt Nam. Được các chủ phòng trọ tin dùng .MotelRoom cũng là nơi giúp cho các bạn sinh viên,
        công nhân tìm được những phòng trọ tốt nhất, đẹp nhất, rẻ nhất. MoteRoom đảm bảo uy tín với khách hàng sử dụng sản phẩm của chúng tôi  </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Danh Mục</h6>
          <ul class="footer-links">
            <li><a href="#">Chung cư mini</a></li>
            <li><a href="#">Phòng trọ</a></li>
            <li><a href="#">Ở ghép</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Liên hệ</h6>
          <ul class="footer-links">
            <li><a href="#">Email: binh050598@gmail.com</a></li>
            <li><a href="#">Phone: 0383822806</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">MotelRoom</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>