<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" layout:decorate="~{layouts/admin}">
<head>
<title th:text="#{card.add}"></title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="#{card.add}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active"
							 th:text="#{card.add}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- jquery validation -->
						<form autocomplete="off" action="#"
							th:action="@{/administrator/card/create}"
							th:object="${cardAddRequest}" method="post"
							class="form-horizontal" role="form">
							<div class="card card-default">
								<div class="card-header">
									<h3 class="card-title"
									 th:text="#{card.add}"></h3>
									<div class="btn-group float-right">
										<button th:text="#{global.save}"
											type="submit"
											class="btn btn-info">
											<i class="fas fa-save"></i>
										</button>
										<a th:text="#{global.back}"
											th:href="@{/administrator/card/list/{customerId}(customerId=${cardAddRequest.customerId})}"
											class="btn btn-success"><i
											class="fas fa-angle-left"></i>
										</a>
									</div>
								</div>
								<!-- /.card-header -->
								<!-- form start -->

								<div class="card-body">
									<div class="row">
										<span
											th:if="${#fields.hasGlobalErrors()}"
											th:errors="*{global}"
											id="code-error" class="error error-field"></span>
										<div class="col-md-12">

<div class="form-group">
	<label th:text="#{card.customer.select}" for="customerId"></label>
	<select th:field="${cardAddRequest.customerId}"
	      	class="form-control"
	      	name="drCus">
	    <option th:each="i : ${customers}"
	    	th:value="${i.id}"
	    	th:text="${i.name}"
			th:selected="${i.id} == cardAddRequest.customerId">
	    </option>
	</select>
</div>
											<div class="form-group">
						                        <label th:text="#{card.last_4number}" for="last4Number"></label>
												<input type="text"
													th:field="*{last4Number}"
													th:placeholder="#{card.last_4number}"
													class="form-control" /> 
												<span
													th:if="${#fields.hasErrors('last4Number')}"
													th:errors="*{last4Number}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
												<label th:text="#{card.type}" for="type"></label>
						                        <select th:field="${cardAddRequest.type}"
						                        	class="form-control"
						                        	name="typeCard">
												    <option th:each="i : ${cardTypes}"
												    	th:value="${i.value}"
												    	th:text="${i.displayValue}"
										    	     	th:selected="${i.value} == cardAddRequest.type">
												    </option>
												</select>
							                    <span
													th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
													id="code-error" class="error error-field"></span>
											</div>
											<div class="form-group">
						                        <label th:text="#{card.expired_date}" for="expiredDate"></label>
												<input type="date"
													th:field="*{expiredDate}"
													class="form-control" /> 
												<span
													th:if="${#fields.hasErrors('expiredDate')}"
													th:errors="*{expiredDate}"
													id="code-error"
													class="error error-field"></span>
											</div>
										</div>
									</div>

								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<div class="btn-group float-right">
										<button th:text="#{global.save}"
											type="submit"
											class="btn btn-info">
											<i class="fas fa-save"></i>
										</button>
										<a th:text="#{global.back}"
											th:href="@{/administrator/card/list/{customerId}(customerId=${cardAddRequest.customerId})}"
											class="btn btn-success"><i
											class="fas fa-angle-left"></i>
										</a>
									</div>
								</div>

							</div>
							<!-- /.card -->
						</form>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>
